 body {
    font-family: Courier, monospace;
    margin: 1em auto;
    max-width: 650px;
    line-height: 1.4;
    font-size: 18px;
    padding: 1em;
    text-align: left;
}

h1 {
    margin: 0 0;
    text-align: left;
}

h3 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    text-align: center;
}

a {
    color: #59684b;
    font-weight: 400;
}

a:hover {
    color: #343434;
    font-weight: 700;
}

img {
    width: 200px;
    height: auto;
    max-width: 50vw;
}

.pronunciation {
    margin: 0 0;
    color: grey;
    text-align: left;
}

.description {
    text-align: left;
}

.demo {
    float:left;
    margin-right: 10px;
    border: solid black 1px;
    padding: 2px;
}

.desc {
    text-align: justify;
    display: inline;
    position: relative;
}

.project {
    display: inline-block;
}